@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-primary text-white;
  
  display: flex;
  justify-content: center;
  width: 100%;
  direction: rtl;
  scrollbar-width: thin;
}
